button {
	outline: 1px solid rgba(0, 0, 0, 0);
}

button.header:hover, button.header:focus {
	background: alpha(currentColor, 0.025);
}

button.header:active {
	background: alpha(currentColor, 0.05);
}

button.header:hover label,
button.header:hover image,
button.header:focus label,
button.header:focus image,
button.header:active label,
button.header:active image {
	color: alpha(currentColor, 0.75);
}

button.category-header:hover label,
button.category-header:hover image,
button.category-header:focus label,
button.category-header:focus image,
button.category-header:active label,
button.category-header:active image {
	color: alpha(currentColor, 0.75);
}
