popover contents {
	background: @menu-bg;
	color: @menu-fg;
	border-radius: 6px;
	min-width: 220px;
	box-shadow: 0 4px 8px alpha(#000000, 0.2);
}

popover modelbutton {
	margin: 6px 6px 0;
	padding: 6px 14px;
	border-radius: 6px;
}

popover modelbutton:last-child {
	margin-bottom: 6px;
}

popover modelbutton:hover {
	background: alpha(currentColor, 0.025);
}

popover modelbutton:active {
	background: alpha(currentColor, 0.05);
}

popover modelbutton label, popover modelbutton image {
	color: alpha(currentColor, 0.5);
}

popover modelbutton:hover label,
popover modelbutton:hover image,
popover modelbutton:active label,
popover modelbutton:active image {
	color: alpha(currentColor, 0.75);
}

popover modelbutton:disabled label,
popover modelbutton:disabled image {
	color: alpha(currentColor, 0.25);
}
