scrollbar slider {
	background: alpha(currentColor, 0.2);
	min-width: 6px;
	margin: 6px;
	border-radius: 9999px;
	transition: background 0.1s, outline 0.1s, min-width 0.1s;
}

scrollbar slider:hover {
	background: alpha(currentColor, 0.4);
}

scrollbar slider:active {
	background: alpha(currentColor, 0.6);
}

scrollbar .fine-tune slider {
	background: alpha(@accent-bg, 0.8);
}

scrollbar:hover slider {
	min-width: 8px;
}
