windowcontrols {
	margin: 2px;
}

windowcontrols button {
	margin: 2px;
	padding: 5px;
	border-radius: 6px;
}

windowcontrols button:hover, windowcontrols button:focus {
	background: alpha(currentColor, 0.075);
}

windowcontrols button:active {
	background: alpha(currentColor, 0.125);
}
