window {
	background: @window-bg;
	color: @window-fg;
	transition: background 0.1s, outline 0.1s, box-shadow 0.2s;
}

window:not(.maximized):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-right):not(.tiled-bottom):not(.tiled-left) {
	box-shadow: 0 6px 18px alpha(#000000, 0.5);
	border-radius: 8px;
}

window:not(.maximized):not(.fullscreen):not(.tiled):not(.tiled-top):not(.tiled-right):not(.tiled-bottom):not(.tiled-left):backdrop {
	box-shadow: 0 4px 12px alpha(#000000, 0.35);
}
