.community-button {
	border-radius: 25%;
	transition: background 0.1s, outline 0.1s, box-shadow 0.1s;
}

.community-button.community-icon-button {
	min-width: 40px;
	min-height: 40px;
	border: 1px solid alpha(currentColor, 0.1);
}

.community-button.community-icon-button:hover,
.community-button.community-icon-button:focus {
	background: alpha(currentColor, 0.05);
}

.community-button.community-icon-button:active,
.community-button.community-icon-button.selected {
	background: alpha(currentColor, 0.075);
}

.community-button.community-icon-button label,
.community-button.community-icon-button image {
	color: alpha(currentColor, 0.5);
}

.community-button.community-icon-button:hover label,
.community-button.community-icon-button:hover image,
.community-button.community-icon-button:focus label,
.community-button.community-icon-button:focus image,
.community-button.community-icon-button:active label,
.community-button.community-icon-button:active image,
.community-button.community-icon-button.selected label,
.community-button.community-icon-button.selected image {
	color: alpha(currentColor, 0.75);
}
