.list-button {
	padding: 8px 12px;
	border-radius: 8px;
}

.list-button.user-entry {
	padding: 6px 12px;
}

.list-button.user-entry label {
	margin: 2px 0;
}

.list-button:hover, .list-button:focus {
	background: alpha(currentColor, 0.025);
}

.list-button:active, .list-button.selected {
	background: alpha(currentColor, 0.05);
}

.list-button label, .list-button image {
	color: alpha(currentColor, 0.5);
}

.list-button:hover label,
.list-button:hover image,
.list-button:focus label,
.list-button:focus image,
.list-button:active label,
.list-button:active image,
.list-button.selected label,
.list-button.selected image {
	color: alpha(currentColor, 0.75);
}
