.ltr mainsidebar {
	border-radius: 8px 0 0 0;
}

.ltr .community-button {
	box-shadow: -44px 0 0 -6px alpha(#000000, 0);
}

.ltr .community-button:hover, .ltr .community-button:focus {
	box-shadow: -44px 0 0 -6px alpha(currentColor, 0.2);
}

.ltr .community-button:active, .ltr .community-button.selected {
	box-shadow: -44px 0 0 -6px @accent-bg;
}

.ltr .context-sidebar {
	margin-left: 0;
}
