.modal-container {
	background: alpha(#000000, 0.75);
	opacity: 0;
	transition: background 0.1s, outline 0.1s, opacity 0.25s;
}

.modal-container.open {
	opacity: 1;
}

.modal-container.open .modal-content {
	transform: scale(1, 1);
}
