.rtl mainsidebar {
	border-radius: 0 8px 0 0;
}

.rtl .community-button {
	box-shadow: 44px 0 0 -6px alpha(#000000, 0);
}

.rtl .community-button:hover, .rtl .community-button:focus {
	box-shadow: 44px 0 0 -6px alpha(currentColor, 0.2);
}

.rtl .community-button:active, .rtl .community-button.selected {
	box-shadow: 44px 0 0 -6px @accent-bg;
}

.rtl .context-sidebar {
	margin-right: 0;
}
